<h2>Edição de usuário</h2>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
    <%= render 'error' =%>

<p><strong>Login:</strong> <%= @user.login =%>
  </p>
      <p>
    <%= f.label "E-mail" %><br>
    <%= f.text_field :email %>
  </p>
 
    <p>
    <%= f.label "Senha" %>
    <span>(Para manter a mesma, deixe em branco)</span><br>
      <%= f.password_field :password %>
    </p>
      <p>
    <%= f.label "Nome Completo" %><br>
    <%= f.text_field :nome %>
  </p>
      <p>
      <% if current_user and current_user.admin %>
    <%= f.check_box :admin %>
    <%= f.label "Admin" %><br>

    <%= f.check_box :authorized %>
    <%= f.label "Autorizado"%><br>
<% end %>
  </p>
   
      <p>
        <%= f.submit "Alterar" %>
      </p>
  <% end %>

  <%= link_to 'Voltar', users_path =%>
