<h1>Edição de usuário</h1>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>

<% if @user.errors.any? %>
        <div id="error_explanation">
      <h2> Erro durante atualização: </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<p><strong>Login:</strong> <%= @user.login =%>
  </p>
      <p>
    <%= f.label :"E-mail" %><br>
    <%= f.text_field :email %>
  </p>
 
    <p>
      <%= f.label :senha %><br>
      <%= f.password_field :senha %>
    </p>
      <p>
    <%= f.label :"Nome Completo" %><br>
    <%= f.text_field :nome %>
  </p>
      <p>
    <%= f.label :"Admin" %><br>
    <%= f.check_box :admin %>
  </p>
   
      <p>
        <%= f.submit %>
      </p>
  <% end %>
