<h2>Cadastro de usuário</h2>
<%= render 'flash' =%>

<%= form_for :user, url: users_path, html: {class: 'form-horizontal'} do |f| %>
  </p>
      <p>
    <%= f.label "Login" %><br>
    <%= f.text_field :login, class: 'form-control' %>
  </p>
      <p>
    <%= f.label "E-mail" %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </p>
 
    <p>
      <%= f.label "Senha" %><br>
      <%= f.password_field :password, class: 'form-control' %>
    </p>
      <p>
    <%= f.label "Nome Completo" %><br>
    <%= f.text_field :nome, class: 'form-control' %>
  </p>
      <p>
        <%= f.submit "Cadastrar", class: 'btn btn-default' %>
      </p>
  <% end %>

  <%= link_to 'Voltar', users_path =%>
