<h1>Cadastro de usuário</h1>

<%= form_for :user, url: users_path do |f| %>
    <%= render 'error' =%>
  </p>
      <p>
    <%= f.label "Login" %><br>
    <%= f.text_field :login %>
  </p>
      <p>
    <%= f.label :"E-mail" %><br>
    <%= f.text_field :email %>
  </p>
 
    <p>
      <%= f.label :senha %><br>
      <%= f.password_field :senha %>
    </p>
      <p>
    <%= f.label :"Nome Completo" %><br>
    <%= f.text_field :nome %>
  </p>
      <p>
        <%= f.submit "Cadastrar" %>
      </p>
  <% end %>

  <%= link_to 'Voltar', users_path =%>
