<h2>Usuário</h2>
  <strong>Login:</strong>
  <%= @user.login %>
  </p>
   
  <p>
    <strong>Nome completo:</strong>
    <%= @user.nome %>
    </p>
  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
    </p>

  <p>
  <p>
  <strong>Autorizado:</strong>
  <% if @user.authorized %>
     Autorizado por <%= User.find(@user.user_id).nome %>
  <% else %>
      Não
  <% end %>

  <p>
    <strong>Administrador?</strong>
    <%= @user.admin ? "Sim" : "Não" %>
    </p>
    <%= link_to 'Voltar', users_path =%>
