<h2>Usuário</h2>
  <strong>Login:</strong>
  <%= @user.login %>
  </p>
   
  <p>
    <strong>Nome completo:</strong>
    <%= @user.nome %>
    </p>
  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
    </p>

  <p>
  <p>
    <strong>Senha:</strong>
    <%= @user.password_digest %>
    </p>

  <p>
    <strong>Admin?</strong>
    <%= @user.admin ? "Sim" : "Não" %>
    </p>
    <%= link_to 'Voltar', users_path =%>
