<!DOCTYPE html>
<html>
<head>
  <title>SubOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Sub-on-Rails!", root_path %></h1>
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>
 
<% if current_user then %>
    <p>Usuário conectado: <%= current_user.login =%><br>
    <%= link_to "Desconectar", logout_path %></p>
<% else %>
    <p><%=  link_to "Entrar", signin_path %></p>
<% end %>
<br>&#169; 2016 Sub-on-Rails development team
</body>
</html>
