<!DOCTYPE html>
<html>
<head>
  <title>SubOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="main-container">
    <div class="row"> 
        <div class="col-md-6 col-md-offset-3"> 
            <div class="row text-center">
                <%= link_to root_path do %>
                    <%= image_tag "index.png" %>
                <% end %>
            </div>


    <div class="content"> 
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<%= yield %>


    </div> <!-- content -->
<% if current_user then %>
    <p>Usuário conectado: <%= current_user.login =%><br>
    <%= link_to "Desconectar", logout_path %></p>
<% else %>
    <p><%=  link_to "Entrar", signin_path %></p>
<% end %>
<br>(&#596;) 2016 Time de desenvolvimento Sub-on-Rails.

</div>
</div>
</div> <!-- main container -->
</body>
</html>
