<!DOCTYPE html>
<html>
<head>
  <title>SubOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="main-container">
    <div class="row"> 
        <div class="col-md-6 col-md-offset-3"> 
            <div class="row text-center">
                <%= link_to root_path do %>
                    <%= image_tag "index.png" %>
                <% end %>
            </div>

            <div class="content"> 
                <!-- Gambiarra: só checamos flash notices, pq soh usamos notices. Precisa ser melhorado -->
                <% if flash[:notice] %>
                    <div class="alert alert-danger">
                        <% flash.each do |name, msg| -%>
                            <%= content_tag :div, msg, class: name %>
                        <% end -%>
                    </div>
                <% end %>

                <%= yield %>

            </div> <!-- content -->

            <div class="user">
                <% if current_user then %>
                    <p>Usuário conectado: <%= current_user.login =%><br>
                    <%= link_to "Desconectar", logout_path %></p>
                <% else %>
                    <p><%=  link_to "Entrar", signin_path %></p>
                <% end %>
            </div> <!-- user -->
        </div>
    </div>
</div> <!-- main container -->
<footer class="footer">
    <div class="container">
        <div class="col-md-6 col-md-offset-3"> 
            Sub-on-rails 0.0.1<br/>
            <%=  link_to "https://github.com/andrechalom/sub-on-rails" do %>
                (&#596;) 2016 Time de desenvolvimento Sub-on-Rails.
            <% end %>
        </div>
    </div>
</footer>
</body>
</html>
