<!DOCTYPE html>
<html>
<head>
  <title>Sub on Rails</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="main-container">
    <div class="row" id="main-content"> 
        <div class="col-md-6 col-md-offset-3"> 
            <div class="row text-center header">
                <%= link_to root_path do %>
                    <%= image_tag "index.png" %>
                <% end %>
            </div>

            <div class="content"> 
                <%= yield %>
            </div> <!-- content -->

        </div>
    </div>
    <div class="row">
    <div class="footer col-md-6 col-md-offset-3"> 
            <div class="navbar navbar-default">
                <%= link_to "Início", root_path, class: 'btn btn-default' %>
                <%= link_to "Usuários", users_path, class: 'btn btn-default' %>
                <%= link_to "Repositório", Server.instance.repo_url, class: 'btn btn-default' %>
                <%= link_to "Administração", server_path, class: 'btn btn-default' %>
                <p class="navbar-right">
                <% if current_user then %>
                    <%= current_user.login =%>&nbsp;
                    <%= link_to "Sair", logout_path, class: 'btn btn-danger' %>
                <% else %>
                    <%=  link_to "Entrar", signin_path, class: 'btn btn-default' %>
                <% end %>
                </p>
            </div> <!-- navbar -->
            <p>Sub-on-Rails 0.0.4 <br/>
            <%=  link_to "https://github.com/andrechalom/sub-on-rails" do %>
                (&#596;) 2016 - 2018 Time de desenvolvimento Sub-on-Rails.
            <% end %>
            </p>
        </div> <!-- footer -->
    </div>
</div> <!-- main container -->
</body>
</html>
