<!DOCTYPE html>
<html>
<head>
  <title>Sub on Rails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="main-container">
    <div class="row" id="main-content"> 
        <div class="col-md-6 col-md-offset-3"> 
            <div class="row text-center header">
                <%= link_to root_path do %>
                    <%= image_tag "index.png" %>
                <% end %>
            </div>

            <div class="content"> 
                <%= yield %>
            </div> <!-- content -->

            <div class="user">
                <% if current_user then %>
                    <p>Usuário: <%= current_user.login =%><br>
                    <%= link_to "Sair", logout_path %></p>
                <% else %>
                    <p><%=  link_to "Entrar", signin_path %></p>
                <% end %>
            </div> <!-- user -->
        </div>
    </div>
    <div class="row">
    <div class="footer col-md-6 col-md-offset-3"> 
            Sub-on-rails 0.0.1<br/>
            <%=  link_to "https://github.com/andrechalom/sub-on-rails" do %>
                (&#596;) 2016 Time de desenvolvimento Sub-on-Rails.
            <% end %>
        </div> <!-- footer -->
    </div>
</div> <!-- main container -->
</body>
</html>
