<!DOCTYPE html>
<html>
<head>
  <title>SubOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" id="main-container">
    <div class="row main-content"> 
        <div class="col-md-6 col-md-offset-3"> 
            <div class="row text-center header">
                <%= link_to root_path do %>
                    <%= image_tag "index.png" %>
                <% end %>
            </div>

            <div class="content jumbotron"> 
                <%= yield %>
            </div> <!-- content -->
        </div>
    </div>
</div> <!-- main container -->
</body>
</html>
